

*{
    font-family: 'Open Sans', sans-serif;
}

html,body{
    overflow-x:hidden;
    position:relative;
}
#sm-navbar-vt{
    display: none;
}

.mobo-close{
    display:none;
}

.btn-primary {
    background-color: #0054a6;
    border-color: #0054a6;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 0.9rem 2rem;
}

.text-primary {
    color:#0054a6;
}

.bg-p-light{
    background-color:#0053a6a8 !important;
}

.btn-primary:hover{
    background-color:#014d99;
    border-color:#014d99;
    border-radius: 0px;
}

.btn-secondary{
    background-color:#006e3b;
    border-color:#006e3b;
    border-radius: 0px;
    text-transform:uppercase;
    padding: 0.9rem 2rem;
}

.secondery-text{
    color:#006e3b;
}

.text-800{
    font-weight: 800 !important;
}

.btn-secondary:hover{
    background-color:#006134;
    border-color:#006134;
    border-radius: 0px;
}

.bg-dark{
background-color:#2d2d2d !important;
border-radius:0px;
}


.section-one{
    background-color:#010101;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(235, 235, 235, 0.94);
    text-transform: uppercase;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(243, 243, 243, 0.7);
}

.section-one {
    max-height: 540px;
    overflow: hidden;
}

.background-video-embed {
    max-width: none;
    margin-top: -6rem !important;
    position: absolute !important;
    top: 50% !important;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%) !important;
}


.btn-outline-secondary {
    border-color: rgba(243, 243, 243, 0.7);
    color: rgba(243, 243, 243, 0.7);
    border-radius: 0px;
    text-transform: uppercase;
}

.btn-outline-secondary:hover{
    border-color:#fff;
    color:#fff;
    background-color:transparent;
}

.dropdown-menu {
    color: #d3d3d3;
    text-align: left;
    list-style: none;
    background-color: #2d2d2d;
    background-clip: padding-box;
    border: 1px solid #2d2d2d;
    border-radius: 0px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #999999;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover {
    display: block;
    color: #cfcfcf;
    background-color: transparent;
    border: 0;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 99999;
    padding-top: 0;
    margin-top: -10px;
}

.social-links {
    max-width: 176px;
    margin-left: 15px;
    display: inline-block;
    width: 6rem;
    vertical-align: middle;
}

.social-links ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 0px;
}

.brand-logo-it img{
    width: 14rem;
}

.top-header{
    padding: 0.25rem 2rem;
}

.social-links ul li a i{
    font-size: 1.3rem;
    color: #2d2d2d;
}

.social-links ul li a i:hover{
    color: #30a0e0; 
}

.call-now-se>a{
    font-size: 1.5rem;
    font-weight: 600;
    color:#014d99;
}


.call-now-se> p a{
    color:#014d99;
}

.call-now-se> p a:hover{
    color:#0467ca;;
    text-decoration: none;
}

.call-now-se>a:hover{
    color:#0467ca;;
    text-decoration:none;

}


.call-now-se {
    width: 300px;
    display: inline-block;
    text-align: right;
    margin-top: 0rem;
    padding-right: 2rem;
}

.call-now-se .number{
    font-size: 0.9rem;
}

.call-now-se>p{
    margin-bottom: 0px;
    margin-top: -0.5rem;
}


  #mob-navbar {
    margin-right: 1rem;
}



.slick-active img.zoomimg {
    display: block;
    -webkit-transition: all 20s;
    -webkit-transform: scale(1.3);
    transition: all 20s;
    transform: scale(1.3);
}

.main-slider {
    height: 587px !important;
    overflow: hidden !important;
    position: relative;
}

.fixed-header {
    position: fixed !important;
    width: 100%;
    z-index: 99999 !important;
    top: 0 !important;
}


.top-banner-slider{
    position:relative;
}

.banner-wrapper {
    top: 25%;
    display: flex;
    position: absolute;
    z-index: 9999;
    min-width: 300px;
    flex-direction: column;
    text-align: center;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    left: 20%;
}

.banner-wrapper h1 {
    font-weight: 600;
    color: #fff;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.banner-wrapper h5{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.about-service {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.main-heading{
    font-weight: 700;
}

.video-wrapper .video-title{
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 1rem;
}


.img-icon {
    display: block;
    float: left;
    margin-right: 10px;
    height: 50px;
}


.about-service {
    background-image: url(../img/simple_line.png);
    width: 100%;
    background-size: 203px;
    height: 100%;
    background-color: #e3e3e3;
}

.video-wrapper {
    margin-bottom: 2rem;
    box-shadow: 0px 2px 3px #0005;
    padding-bottom: 1rem;
    background-color: #fff;
}

.video-wrapper .video-title {
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 1rem;
    padding: 0px 1rem;
}

.main-heading {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.data-center,
.data-security,
.it-assets,
.letest-project{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.it-assets ul{
    margin-bottom: 2rem;
}

.data-center.bgimg {
    background-image: url(../img/bg-1.jpg);
    background-size: 100%;
    position: relative;
}

.data-center .main-heading,
.data-security .main-heading,
.it-assets .main-heading{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
}

.data-center .description,
.data-security .description,
.it-assets .description{
    line-height: 1.8;
    margin-bottom: 2rem;
}

.overlay-1{
    width: 50%;
    background-color: #00000099;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
}

.overlay-2 {
    width: 50%;
    background-color: #00000099;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    background-size: 100%;
}


.overlay-3 {
    width: 100%;
    background-color: #00000099;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    background-size: 100%;
}

.btn-light{
    color: #2d2d2d;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #8edce6;
    border-color:#8edce6;
    text-transform: uppercase;
    padding: 0.9rem 2rem;
}

.btn-light:hover{
    color: #2d2d2d;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #4db9c7;
    border-color:#4db9c7;
    text-transform: uppercase;
    padding: 0.9rem 2rem;
}


.data-security.bgimg{
    background-image: url(../img/bg-2.jpg);
    background-size: 100%;
    position: relative;
}

.it-assets.bgimg2{
    background-image: url('../img/bg-3.jpg');
    background-size: 100%;
    position: relative;
}

.data-security.bgimg3{
    background-image: url('../img/img-4.png');
    background-size: 100%;
    position: relative;
}

.bb-b {
    border-bottom: 6px solid #1d4d1fc7;
}

.letest-project{
    background-color:#0556a5;
}

.letest-project h1{
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 3px;
    text-align: left;
}


.letest-post {
    background-color: #0556a5;
    padding: 4rem 0rem;
}

.letest-post h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 3px;
    text-align: left;
    margin-bottom: 3rem;
}


.letest-post h1 span{
    font-size: 1.2rem;
    font-weight: 200;
    text-transform: uppercase;
}


.post-wrapper {
    background-color: #e2e2e2;
    padding: 2rem;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

.time-date{
    color: #0008;
}

.post-wrapper .heading{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.post-wrapper .description{
    line-height: 1.8;
    color: #000a;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}


.certified-brand ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.certified-brand ul li img {
    height: 10rem;
}


.footer-sec {
    background-color: #2d2d2d;
    padding-top: 3rem;
}

.footer-sec * {
    border-color: #e2e2e2;
}

.footer-sec a{
    color: #828282;
    text-decoration: none;
}

.footer-sec a i {
    color: #009688;
    font-size: 1.4rem;
}

.footer-logo img{
    max-width: 302px;
}

.footer-logo {
    max-width: 14rem;
    margin-bottom: 1rem;
}

.footer-sec .address{
    max-width: 282px;
}

.testimonial{
    padding: 4rem 5rem;
    background-image: url(../img/simple_line.png);
    width: 100%;
    background-size: 203px;
    height: 100%;
    background-color: #e3e3e3;
}

.testimonial-item {
    max-width: 54rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 2rem 1rem;
}

.testimonial-item .img-pro{
    width: 182px;
    height: 182px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
}

.testimonial-item h4{
    font-weight: 700;
    font-size: 1.2rem;
}

.t-wrapper {
    max-width: 49rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.t-wrapper h2{
    font-weight: 600;
    font-size: 1.8rem;
}

#testimonial-slider {
    max-width: 865px;
    margin-left: auto;
    margin-right: auto;
}

#testimonial-slider .slick-dots {
    display: flex;
    max-width: 164px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    list-style-type: none;
}

#testimonial-slider .slick-dots li button {
    width: 12px;
    height: 12px;
    display: flex;
    font-size: 0px;
    border-radius: 24px;
    background-color: #fff;
    border: 0px;
    color: #fff;
    margin-left: 10px;
    box-shadow: 0px 2px 2px #0005;
}

#testimonial-slider .slick-dots li.slick-active button{
    background-color: #0556a5;
    color:#0556a5;
}

#testimonial-slider .slick-next.slick-arrow {
    position: absolute;
    right: -39px;
    top: 41%;
    border-radius: 82px;
    z-index: 9999;
    border: 1px solid #fff;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testimonial-slider .slick-prev.slick-arrow {
    position: absolute;
    left: -40px;
    top: 41%;
    z-index: 9999;
    border: 1px solid #fff;
    width: 34px;
    height: 34px;
    display: flex;
    border-radius: 82px;
    justify-content: center;
    align-items: center;
}

.certified{
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.t-wrapper .main-heading {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.5;
}

.ss-btn-wr{
    background-color: white;
    height: 441px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    padding: 1rem 2rem;
    border-radius: 0pxs;
}



.text-1 {
    font-size: 1.5rem;
    margin-top: 2rem !important;
    margin-bottom: 2rem;
}

.text-gr {
    color: #8a8888;
}

.top-budcurrm{
    width:100%;
    height: 250px;
    background-size: 100%;
    position:relative;
}

.top-budcurrm .main-heading {
    margin-top: 5rem;
}

.creear-form-section {
    padding: 4rem 0;
}

.creear-form {
    padding: 2rem;
    background-color: #e0dfdf;
    border-radius: 0px;
}

.creear-form .btn-dark {
    padding: 0.5rem;
    width: 100%;
    border-radius: 0px;
}

.creear-form .form-control {
    height: calc(1.8em + .75rem + 2px);
    border-radius: 0rem;
  
}

.creear-form  .form-group {
    margin-bottom: 2rem;
}

.topinfojob{
    display: flex;
    justify-content: space-between;
}



.topinfojob h4{
    width: 50%;
    display: flex;
}

.infosection{
    width: 50%;
}

.infosection ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    justify-content: space-around;
}


.jobpostsection .btn-primary{
    padding: 0.5rem 0.8rem;
}

.jobpostsection .card {
    margin-bottom: 2rem;
}


.p-wrapper nav{
    text-align: center;
    display: flex;
    justify-content: center;
}

 #contact_us .overlay-1 {
    width: 50%;
    background-color: #0556a5;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
}

#contact_us ul {
    margin-bottom: 3rem;
    margin-top: 3rem;
    list-style-type: none;
    padding-left: 0px;
}


label span{
    color: #ff0000;
}

.contact_form .form-group,
.request-a-quote .form-control,
.request-a-quote .form-control{
    margin-bottom: 3rem;
}

.contact_form textarea {
    height: 136px;
    width: 100%;
    resize: none;
}

.contact_form .form-control,
 .request-a-quote .form-control,
  .schedule-form .form-control{
    border-radius:0px;
    border: 0px;
}


.gr-text{
    color: #bfbfbf !important;
}


.request-a-quote textarea{
  height:120px;
  resize: none;
}

.schedule-form {
    max-width: 986px;
    margin: 0px auto;
}

.schedule-form textarea{
    height: 381px;
    resize:none;
}

.banner-wrapper p{
    margin-bottom: 3rem;
}

#transportation{

}

#itassets{

}


#itassets .overlay-2 {
    background-size: cover;
}

#total-risk .overlay-1 {
    background-size: cover;
}


.copyright-content{
    background-color: #191717;
    color: #555;
    padding: 10px 0px;
}

.copyright-content p{
  margin-bottom:0px;
}

#make-defferent .overlay-3 {
    background-color: #006e3b;
}

#certified-brand-slider .slick-prev{
display:none !important;
}

#certified-brand-slider .slick-next{
display:none !important;
}

.login_wrapper{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

@media (min-width: 1400px){
    .container{
        max-width: 1388px !important ;
    }
    }

    /* #0556a5; */